# Install these requirements if you wish to contribute to this project.

# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
Sphinx
django-mailer
factory_boy>2.0.0

simple_translation

# ==============================================================
# Packages needed for running the tests. Needed by contributors.
# ==============================================================
mock
django-nose
coverage
django-coverage
django-jasmine
selenium
ipdb
flake8>=2.1.0
beautifulsoup4==4.3.2
-e git+git://github.com/pinax/django-mailer.git@919805e25fc18b06487b25414d4e5d5e05a92108#egg=mailer
