# ==============================================================
# Packages needed for running the tests. Needed by contributors.
# ==============================================================
fabric3
flake8
coverage
django-mailer
django-parler
factory-boy
mixer
