{% load libs_tags %}
{% if field %}
    {% get_form_field_type field as field_type %}
    {% if placeholder %}
        {% add_form_widget_attr field 'placeholder' placeholder replace=1 as field %}
    {% endif %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {% if not hide_label and "CheckboxInput" not in field_type %}
            <label class="control-label {% if horizontal %}col-sm-{% if left_column_size %}{{ left_column_size }}{% else %}4{% endif %}{% endif %}" for="{{ field.id_for_label }}">
                <span {% if field.field.required %}class="required-label"{% endif %}>{% if field.field.required %}* {% endif %}{{ field.label }}</span>
            </label>
        {% elif horizontal and "CheckboxInput" in field_type %}
            <label class="control-label col-sm-{% if left_column_size %}{{ left_column_size }}{% else %}4{% endif %}"></label>
        {% endif %}
        {% if horizontal %}<div class="col-sm-{% if right_column_size %}{{ right_column_size }}{% else %}8{% endif %}">{% endif %}
        {% if "CheckboxInput" in field_type %}
            <div class="checkbox">
                <label>
                    {{ field }}
                    <span {% if field.field.required %}class="required-label"{% endif %}>{% if field.field.required %}* {% endif %}{{ field.label }}</span>
                    {% if field.help_text %}
                        <small class="text-muted"><em>{{ field.help_text|safe }}</em></small>
                    {% endif %}
                </label>
            </div>
        {% elif "CheckboxSelectMultiple" in field_type %}
            <div class="checkbox">
                {{ field }}
                {% if field.help_text %}
                    <small class="text-muted"><em>{{ field.help_text|safe }}</em></small>
                {% endif %}
            </div>
        {% elif "RadioSelect" in field_type %}
            {% for choice in field.field.choices %}
                <div class="radio{% if inline %}-inline{% endif %}">
                    <label>
                        <input type="radio" name="{{ field.name }}" id="id_{{ field.name }}{{ forloop.count }}" value="{{ choice.0 }}" {% if choice.0 == field.value %}checked="checked"{% endif %} />
                        {{ choice.1 }}
                    </label>
                </div>
            {% endfor %}
        {% else %}
            {% add_form_widget_attr field 'class' 'form-control' as field %}
            {% if input_addon_pre or input_addon_post %}
                <div class="input-group">
                    {% if input_addon_pre %}
                        <span class="input-group-addon">{{ input_addon_pre }}</span>
                    {% endif %}
                    {{ field }}
                    {% if input_addon_post %}
                        <span class="input-group-addon">{{ input_addon_post }}</span>
                    {% endif %}
                </div>
            {% else %}
                {{ field }}
            {% endif %}
        {% endif %}
        {% if field.errors %}
            <span class="help-block">{% for error in field.errors %}{{ error }}<br/> {% endfor %}</span>
        {% endif %}
        {% if field.help_text %}
            <small class="text-muted"><em>{{ field.help_text|safe }}</em></small>
        {% endif %}
        {% if horizontal %}</div>{% endif %}
    </div>
{% endif %}
